html, div, body, ul, ol {
	margin: 0;
}

// body {
//     background-image: url("../images/PES%202013%20Etihad%20Stadium%20%2810%29.jpg");
//     background-repeat: no-repeat;
// }

.boldText {
    color: white;
    text-align: center;
    background-color: #738585;
}

table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

.scrollable-area {
    // margin: auto;
    width: 100%;
    height: 600px;
    border: 2px solid #ccc;
    overflow: auto; /* <-- here is what is important*/
}

.scrollable-area2 {
    // margin: auto;
    width: 100%;
    height: 300px;
    border: 2px solid #ccc;
    overflow: auto; /* <-- here is what is important*/
}

.pos-title {

}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.even {
    background-color: #eaeaea;
}

th, td {
    padding: 10px;
}

.tdCentered {
    text-align: center;
}

.alignCenter {
    text-align: center;
}

.smaller-row {
    max-height: 200px;
}