<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EPL Fantasy Football Picker</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="author" href="humans.txt">
    <base href="/">
  </head>
  <body ng-app="FFP-APP">

  	<div ng-include="'partials/navbar.html'"></div>

  	<h1>EPL FANTASY FOOTBALL PICKER 2016/17 SEASON</h1>
<!-- Temporary code to test login and register-->
		<div ng-view>
<!-- 			<section class="auth-form" ng-controller="LoginCtrl">
				<h2>Login or Register</h2>
				<div>
					Email: <input type="text" autofocus="true" ng-model="account.email"></input>
				</div>
				<div>
					Password: <input type="password" ng-model="account.password">
				</div>
				<div>
					<button class="btn btn-info" ng-click="login()">
						Login
					</button>
					<button class="btn btn-default" ng-click="register()">
						Register
					</button>
					<button class="btn btn-default" ng-click="logout()">
						Logout
					</button>
				</div>
			</section> -->
		</div>
	<!-- PROVIDERS -->
	<script type="text/javascript" src="lib/bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="lib/bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="lib/bower_components/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="lib/bower_components/firebase/firebase.js"></script>
	<!-- APP -->
  <script type="text/javascript" src="app/app.js"></script>
	<!-- VALUES -->
  <script type="text/javascript" src="app/values/fb-creds.js"></script>
	<!-- FACTORIES -->
	<script type="text/javascript" src="app/factories/AuthFactory.js"></script>
	<script type="text/javascript" src="app/factories/PlayerFactory.js"></script>
	<script type="text/javascript" src="app/factories/ClubFactory.js"></script>
	<!-- CONTROLLERS -->
	<script type="text/javascript" src="/app/controllers/NavCtrl.js"></script>
	<script type="text/javascript" src="/app/controllers/LoginCtrl.js"></script>
	</body>

</html>